
<!DOCTYPE html>
<html>
<title>VEGGIE EXCHANGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../veggie exchange/assets/style.css">
<link rel="stylesheet" type="text/css"  href="../public/styles/styles.css">

<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4 {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }

    .w3-tag,
    .fa {
        cursor: pointer
    }

    .w3-tag {
        height: 15px;
        width: 15px;
        padding: 0;
        margin-top: 6px
    }
</style>

<body>

    <!-- Links (sit on top) -->

    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                <a href="#" class="w3-button w3-block">Home</a>
            </div>
            <div class="w3-col s3">
                <a href="#offers" class="w3-button w3-block">Current Offers</a>
            </div>
            <div class="w3-col s3">
                <a href="#transactions" class="w3-button w3-block">Transactions</a>
            </div>
            <div class="w3-col s3">
                <a href="#contact" class="w3-button w3-git block">Make an Offer</a>
            </div>
        </div>
    </div>


    <!-- Content -->
    <div class="background">
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

        <div class="w3-panel">
            <h1><b>WELCOME TO VEGGIEXCHANGE</b></h1>
            <p></p>
        </div>

        <!-- Slideshow -->
        <div class="w3-container">
            <div class="w3-display-container mySlides">
                <img src="../veggie exchange/assets/img/veggiemain.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">TRADE VEGGIES</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="../veggie exchange/assets/img/handwithveggies.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">MEET YOUR NEIGHBORS</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="../veggie exchange/assets/img/womanwithcarrots.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">GROW A COMMUNITY</span>
                </div>
            </div>

            <!-- Slideshow next/previous buttons -->
            <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
                <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i>
                </div>
                <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i>
                </div>

                <div class="w3-center">
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                        onclick="currentDiv(1)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                        onclick="currentDiv(2)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                        onclick="currentDiv(3)"></span>
                </div>
            </div>
        </div>

        <!-- Grid -->
        <div class="w3-row w3-container">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
            </div>
            <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                <h3>Design</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
                <h3>Branding</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
                <h3>Consultation</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
                <h3>Promises</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>
        </div>

        <!-- Grid -->
        <div class="w3-row-padding" id="offers">
            <div class="w3-center w3-padding-64">
                <h3>CURRENT OFFERS</h3>
                <p>View the listings in your area:</p>
            </div class="offerSection">
                {{#each deals}}
                    <div class="offers">
                        <div class="offerBox">
                            <div>
                                <img class="offerImage">
                                
                                </img>
                                {{this.userID}}
                            </div> 
                            <div> 
                                Offering: {{this.offeredQTY}} {{this.offered}}
                            </div>
                            and
                            <div>
                                Wanting: {{this.askedQTY}} {{this.asked}}
                            </div>
                            <button class = "deleteDeal" data-dealid = {{this.id}}>Delete Deal</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Grid -->
        <div class="w3-row-padding" id="transactions">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="" alt="John" style="width:100%">
                    <div class="w3-container">
                        <h3>Jane Doe</h3>
                        <p class="w3-opacity">CEO & Founder</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="" alt="Mike" style="width:100%">
                    <div class="w3-container">
                        <h3>Mike Ross</h3>
                        <p class="w3-opacity">Art Director</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="" alt="Jane" style="width:100%">
                    <div class="w3-container">
                        <h3>John Doe</h3>
                        <p class="w3-opacity">Designer</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="w3-center w3-padding-64" id="contact">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Make an Offer!</span>
        </div>
{{!-- class="w3-input w3-border w3-hover-border-black" --}}
        <form action="/action_page.php" target="_blank">
            <div id="makeOffer">
                <label>Offering: </label>
                <input class="offerInput" style="width:30%;" type="text" name="offering" id="offered"
                    required>
            
            
                <label>Offer Quantity: </label>
                <input class="offerInput" style="width:10%;" type="number" name="offerQty" id="offeredQTY"
                    required>
                <select name="offerUnitType" size="1" id="offeredUnit">
                    <option value="lbs">lbs.</option>
                    <option value="oz">oz.</option>
                    <option value="dozen">dozen</option>
                    <option value="units">(units)</option>
                </select>   
            </div>
            <div class="and">AND</div>
            <div id="makeWant">
                <label>Wanting</label>
                <input class="offerInput" style="width:30%;" type="text" name="wanting" id="asked" required>
            
            
                <label>Quantity wanted</label>
                <input class="offerInput" style="width:10%;" type="number" name="wantQty" id="askedQTY" required>
                <select name="offerUnitType" size="1" id="askedUnit">
                    <option value="lbs">lbs.</option>
                    <option value="oz">oz.</option>
                    <option value="dozen">dozen</option>
                    <option value="units">(units)</option>
                </select>
            </div>
            <br>
            <div class="submitOffer"><button type="submit " class="offerButton">Post Offer!</button></div>
        </form>
        
    </div>
    </div>

    <!-- Footer -->

    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
        <h4>Footer</h4>
        <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
                class="w3-hover-text-green">w3.css</a></p>
    </footer>


    <script>
        // Slideshow
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demodots");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
</body>

</html>